@font-face {
  font-family: "Fira Code";
  src: local("Fira Code"), url("/fonts/FiraCode-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Fira Code";
  src: local("Fira Code SemiBold"),
    url("/fonts/FiraCode-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Fira Code";
  src: local("Fira Code Light"),
    url("/fonts/FiraCode-Light.ttf") format("truetype");
  font-weight: 300;
}

html,
body,
pre {
  margin: 0;
  padding: 0;
  font-family: "Fira Code";
  font-size: 18px;
  line-height: 124%;
  color: #333;
}

.link {
  font-weight: 600;
  text-decoration: none;
  color: black;
  margin: -2px;
  padding: 2px;
}

.link.outgoing {
  font-weight: normal;
  text-decoration: underline;
}

.link:hover {
  background-color: #eee;
  outline-offset: -2px;
  outline: 2px solid #ddd;
}

.link:focus,
.link:active {
  outline-offset: -2px;
  outline: 2px solid black;
}
