@font-face {
  font-family: "Fira Code";
  src: local("Fira Code"), url("/fonts/FiraCode-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Fira Code";
  src: local("Fira Code SemiBold"),
    url("/fonts/FiraCode-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

html,
body,
pre {
  margin: 0;
  padding: 0;
  font-family: "Fira Code";
  font-size: 18px;
  line-height: 124%;
  color: #333;
}

.link {
  font-weight: 600;
  text-decoration: none;
  color: black;
  margin: -2px;
  padding: 2px;
}

.link:hover {
  background-color: #eee;
  outline-offset: -2px;
  outline: 2px solid #ddd;
}

.link:focus,
.link:active {
  outline-offset: -2px;
  outline: 2px solid black;
}

#editor_content {
  display: block;
  all: unset;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  min-height: 500px;
}

#editor_content.active:focus {
  outline: 2px dotted #333;
  outline-offset: 8px;
}

#drawbox {
  display: block;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  user-select: none;
}

#drawbox.active {
  pointer-events: auto;
  outline: 2px solid black;
  outline-offset: 8px;
}
